@{
    ViewBag.Title = "Game";
}

<div class="game-main_div">
    <div class="game-main_box">
        <p class="game-guess_number">This is a guess number: @ViewData["GuessCounter"]</p>
        <div class="game-details_box">
            <p class="game-guess_scope">You are guessing a number from the range: @ViewData["Scope"]</p>
            <p class="game-guess">Your guess: @ViewData["Guess"]</p>
        </div>
        <p class=@ViewData["FeedbackCSSclass"] =>@ViewData["Feedback"]</p>
    </div>
</div>