@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/canvas_script.js"></script>

<h1>This is a website to show possible usage of canvas and events</h1>

<canvas id="canvas1" class="drawingCanvas" width="500" height="300"></canvas>

<canvas id="canvas2" class="drawingCanvas" width="200" height="100"></canvas>

<h2>Some text</h2>
<section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    <canvas id="canvas3" class="drawingCanvas" width="300" height="500"></canvas>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
</section>

<canvas id="canvas4" class="drawingCanvas float_right" width="200" height="100"></canvas>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatem illum amet dolorum id rerum iusto earum quidem fugit commodi debitis, modi corporis enim eos est nihil tenetur distinctio molestiae!
<canvas id="canvas5" class="drawingCanvas fixed_bottom" width="400" height="200"></canvas>
