@{
    ViewBag.Title = "Solve";
}

<div class="solve-header">
    <h1>Quadratic equation solver</h1>
    <p>Provided equation: @ViewBag.aParameter x &sup2; + @ViewBag.bParameter x + @ViewBag.cParameter = 0.</p>
</div>
