.feedback_text {
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: 530;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.not_set_parameters {
    font-size: 20px;
    color: darkred;
}

.too_high {
    color: rgb(49, 153, 158)
}

.too_low {
    color: rgb(191, 123, 64);
}

.correct {
    color: rgb(31, 145, 31);
}

.game-main_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controller_data {
    font-size: 22px;
    font-weight: 550;
}

.game-main_box {
    width: 400px;
    height: 250px;
    border-style: solid;
    opacity: 0.85;
    padding: 20px;
    border-width: 8px;
    margin: 20px;
    background-color: rgb(228, 226, 233);
    border-color: rgb(190, 186, 197);
    border-radius: 10px;
    font-size: 18px;
}

/*.solve-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}*/

.game-details_box {
    width: wrap;
    height: wrap;
    border-style: solid;
    opacity: 0.85;
    padding: 0px 10px 0px 10px;
    border-width: 2px;
    background-color: rgb(43, 70, 136);
    border-color: rgb(29, 80, 53);
    border-radius: 20px;
}
